<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="ComeAndTicket_Log_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <bufferSize value="20" />
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%-30date %-4timestamp [%thread] %-5level %ndc - %message%newline" />
      </layout>
    </appender>

    <!-- Specify the level for some specific categories -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>

  <appSettings>
    <add key="toAddress" value="flabordec@gmail.com" />
  </appSettings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
